.navbarItem .link{
   font-family: 'Bebas Neue';
   font-size: 20.9px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   color: #3d2514;
   text-decoration: none;
}